{% extends 'clickvote/base.html' %}
{% block heading %} Candidates | Add {% endblock heading %}
    {% block content %}
        <nav class="nav">
            <ul>
                |<li ><a href="{{url_for('clickvote.candidate_list')}}">List</a></li>
                |<li class="active"><a href="{{url_for('clickvote.add_candidate')}}">Add</a></li>|
            </ul>

        </nav>
        <div class="forms">
             {% with  messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class='flash {{category}}'>
                    <ul>
                        <li>{{message}}</li>
                    </ul>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% if current_user.role in ['root', 'admin'] and current_user.active_election %}
            <div class="add-single">
                <form method="post" enctype="multipart/form-data">
                     <div class="heading"><h1>  Add  Candidate</h1> <a  href="?" class="button glow" >Reset</a></div>
                    <span class="clear-fix"></span>
                    {{form.csrf_token}}
                         
                         <div class="form-group">
                             {% if form.candidate_id.errors %}
                                <ul class="errors">{% for error in form.candidate_id.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                            {% endif %} 
                            {{form.candidate_id.label}}
                            {{form.candidate_id}}
                        </div> 
                         <div class="form-group">
                             {% if form.election_id.errors %}
                                <ul class="errors">{% for error in form.election_id.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                            {% endif %} 
                            {{form.election_id.label}}
                            {{form.election_id(value=current_user.active_election)}}
                        </div>
                         <div class="form-group">
                             {% if form.voter_id.errors %}
                                <ul class="errors">{% for error in form.voter_id.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                            {% endif %} 
                            {{form.voter_id.label}}
                            {{form.voter_id}}
                        </div>
                         
                         <div class="form-group">
                             {% if form.portfolio.errors %}
                                <ul class="errors">{% for error in form.portfolio.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                            {% endif %} 
                            {{form.portfolio.label}}
                            {{form.portfolio}}
                        </div>
                         
                         <div class="form-group">
                             {% if form.picture.errors %}
                                <ul class="errors">{% for error in form.picture.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                            {% endif %} 
                            {{form.picture.label}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label class="fileContainer button" style="width: 80px; padding: 0;">
                             Browse
                            {{form.picture}}
                            </label>
                            <span id="file-selected">No file selected</span>
                        </div>
                         <div class="form-group">
                         <label></label>
                        {{form.submit(class='button glow button-action')}}
                        </div>
                    </form>
            </div>
            {% endif %}
            No active election
        </div>
    {% endblock %} 
