{% extends 'runvote/base.html' %}
{% block heading %} Electorates |  Add {% endblock heading %}
    {% block content %}
        <nav class="nav">
            <ul>
                |<li ><a href="{{url_for('runvote.voters_summary')}}">Summary</a></li>
                |<li class=""><a href="{{url_for('runvote.add_voter')}}">Add</a></li>
                |<li class="active"><a href="{{url_for('runvote.import_csv')}}">Import csv</a></li>
                |<li><a href="{{url_for('runvote.search_for_voter')}}">Search</a></li>|
            </ul>

        </nav>
        {% if current_user.role in ['root', 'admin'] %}
        <div class="forms">
            <div class="upload-csv">
                 {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class='flash {{category}}'>
                    <ul>
                        <li>{{message}}</li>
                    </ul>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <span>Import from Excel</span>
                <form method="post"  enctype="multipart/form-data">
                    {{form.csrf_token}}
                     {% if form.csv_file.errors %}
                            <ul class="errors">{% for error in form.csv_file.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                    <label class="fileContainer button" style="width: 200px">
                        Browse
                    {{form.csv_file}}
                    </label>
                    <span id="file-selected"> No file selected</span>
                    {{form.submit(class='button glow button-action')}}
                     
                </form>
            </div>
            {% endif %}
        </div>
    {% endblock %} 
